<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
<header class="header-container">
    <div class="header-top">
        <div class="header-logo">
            <div class="decorative-line"></div>
                <div class="brand-info">
                    <img src="https://s.yimg.com/lo/api/res/1.2/7Xer.YX0dnIAI5rUBKxBxA--/YXBwaWQ9cGl4ZWxmcmFtZTtmaT1maWxsO3c9NDAwO2g9NDAwOw--/https://s.yimg.com/dg/apps/12879FE24168807C1EF38CD5E580EE3A/images/1b47f6d9-a62b-4269-9e86-31d2c6bfa00f/1b47f6d9-a62b-4269-9e86-31d2c6bfa00f.jpg" alt="By Valentina Glam" class="logo">
                    <div class="brand-name">By Valentina Glam</div>
                    <div class="accessories-text">ACCESORIES</div>
                </div>
                <div class="decorative-line"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <nav class="main-nav">
            <ul>
                <li class="Link1"><a href="index.html">Inicio</a></li>
                <li class="Link3"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
